* {
  background-color: #00020a;
  color: #e8e8e8;
  font-family: monospace;
}

body {
  height: 100vh;
  text-align: center;
  overflow: hidden;
  display: grid;
  place-items: center;
}

p {
  font-size: 1.4rem;
}

#cog {
  display: inline-block;
  background-color: transparent;
  font-size: 4rem;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform-origin: 50% 55%;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
